@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

* {
    margin: 0px;
    font-family: 'Oxygen';
    
}

a {
    text-decoration: none;
}

.container {
    width: 100%;   /*lebar containter 100% agar jika di zoom in menu di heade-right tetep tampil */
    max-width: 1170px;   /*jika di zoom out, posisi objek di container tetap ditengah sesuai ukuran max */
    margin: 0 auto;
    padding: 0 25px;

}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(59, 59, 59, 0.7);
    position: fixed;
    top: 0px;
    z-index: 10;
}

.header-left {
    line-height: 65px;
    float: left;
}

.header-left a {
    color: white;
    font-family: 'Century Gothic';
    font-size: 24px;
    font-weight: bold;
}


.header-right {
    float: right;
}

.header-right a:hover {
    background-color: white;
    color: black;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    transition: all 0.5s;
}

.top-wrapper {
    padding: 290px 0 100px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../digitalent-oa-master/images/web-designer1-res.jpg');   
    background-size: cover;
    color: white;
    text-align: center;
    height: 268px;
}

.top-title {
    margin-bottom: 30px;
    animation: fade 1s ease;
    animation-fill-mode: forwards ;  /*dengan forward elemen akan mempertahankan bentuk setelah animasi */
}

@keyframes fade {
    from {opacity: 0;top: -10px;}
    to {opacity:1 ; top: 0px; }
}

.top-wrapper h1 {
    font-family: 'Century Gothic';
    font-size: 40px;
    margin-bottom: 10px;
}


.btn {
    background-color: #d2dae2;
    color:rgb(49, 49, 49);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}

.contact {
    color: white;
    background-color: transparent;
    border: 3px solid #FFC130;

    /*set animation */
    background-image: linear-gradient(to right, #FFC130 50%, transparent 50%);
    background-position: 100% 0%;   
    background-size: 200% 100%;
    transition: 0.5s;
}

.contact:hover {
    color: rgb(49, 49, 49);
    /*set animation */
    background-position: 0% 50%;


}

.main-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    text-align: center;
}

main p {
    color: rgb(105, 105, 105);
}



.main2-wrapper {
    padding-top: 60px;
    padding-bottom: 750px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 35px;
    color: rgb(65, 65, 65);
}


.secondary-wrapper {
    padding-bottom: 85px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e9e9e9;
    text-align: center;
}

.secondary-wrapper p {
    color: rgb(83, 83, 83);
}


.heading h2 {
    font-family: 'Century Gothic';
    font-size: 24px;
    font-weight: bold;
}

.service {
    float: left;
    width: 25%;
}

.service-img {
    position: relative;
    margin-top: 70px;
}

.service-img img {
    width: 50px;
}

.name {
    width: 80%;
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
    color: black;
}

p {
    font-size: 20px;
    color: black;
}


.btn-more {
    background-color: #FFC130;
    color: white;
    padding: 14px 28px;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;

    margin-top: 35px;
    color: rgb(49, 49, 49);
    border: 3px solid #FFC130;

        /*set animation */
        background-image: linear-gradient(to right, rgba(255,255,255) 50%, transparent 50%);
        background-position: 100% 0%;   
        background-size: 200% 100%;
        transition: 0.5s;

}

.btn-more:hover {
    
    border: 3px solid #FFC130;
    background-position: 0% 50%;
}

.btn-contact {
    background-color: #FFC130;
    color: white;
    padding: 14px 28px;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;

    margin-top: 35px;
    color: rgb(49, 49, 49);
    border: 3px solid #FFC130;

        /*set animation */
        background-image: linear-gradient(to right, #e9e9e9 50%, transparent 50%);
        background-position: 100% 0%;   
        background-size: 200% 100%;
        transition: 0.5s;

}

.btn-contact:hover {
    
    border: 3px solid #FFC130;
    background-position: 0% 50%;
}




.bottom-wrapper {   /*bagian featured project*/
    padding-bottom: 70px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    justify-content: center;
}


.project-img {
    position: relative;
}

.project-img img {
    width: 600px;
}

.project-name {
    margin-bottom: 35px;
    
}

.contact-wrapper {          /*bagian contact us */
    background-color: #e9e9e9;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 70px;
    
}

footer {
    padding: 20px;
    background-color: black;
    text-align: center;
}

.text-footer {
    color: white;
    font-size: 15px;
}

.profile {
    float: left;
    width: 33.33%;
    padding-top: 80px;

}

.profile-img {
    position: relative;
}

.profile-img img {
    border-radius: 50%;
    width: 200px;
}

.name {
    width: 80%;
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}
